<div class="row menu">
      <div class="col-md-4 logo">
           <img class="logo" border="0" alt="EditoraCrescer" src="/img/logo.png">
      </div>    
      <div class="col-md-2 administrativo">
           <div class="MenuTitulo">
                <h1>Administrativo</h1>
           </div>    
      </div> 
      <div class="col-md-1 deslogar">
             <button class="btn btn-blue" type="button" ng-show="gerente" ng-click="irParaAdministrativo()">Administrativo</button>
      </div> 
      <div class="col-md-1 deslogar">
             <button class="btn btn-blue" type="button" ng-click="irParaGerencia()">Gerencia</button>
      </div>
      <div class="col-md-1 deslogar">
             <button class="btn btn-blue" type="button" ng-click="logout()">Logout</button>
      </div>    
</div> 

<div class="tabelaDeDevolucao">
  <h3 class="TituloTabela">Itens aguardando devolução</h3>
  <div class="scroll">  
  <table class="table table-bordered">
    <thead>
      <tr>
          <th>ID</th>
          <th>Nome Cliente</th>
          <th>Email</th> 
          <th>Data de Locação</th>
          <th>Devolvido</th>
          <th>Prazo Final para devolução</th>
          <th>Pacote</th>
          <th>Festa</th>
          <th>Opcional</th>
          <th>Valor</th>
          <th>Devolver</th>    
      </tr>
    </thead>
    <tfoot>
      <tr>
          <td>Valor Total do Relatório</td>
          <td>{{ValorRelatorio}}</td>
      </tr>
    </tfoot>  
    <tbody>
      <tr ng-repeat="reserva in reservas">
          <td>{{reserva.Id}}</td>
          <td>{{reserva.Cliente.Nome}}</td>
          <td>{{reserva.Cliente.Email}}</td> 
          <td>{{FormataData(reserva.DataLocacao)}}</td> 
          <td>{{Devolvido(reserva.Devolvido)}}</td>
          <td>{{FormataData(reserva.DataDevolucao_Prevista)}}</td>
          <td>{{reserva.Pacote.Nome}}</td>
          <td>{{reserva.Festa.Nome}}</td>
          <td>{{reserva.Opcional.Nome}}</td>
          <td>{{reserva.Valor}}</td>
          <td><button class="btn btn-blue" type="button" ng-click="irParaDevolverItem(reserva.Id)">Devolver</button></td>
      </tr>  
    </tbody>
  </table>
  </div>
</div>