<div class="row menu">
      <div class="col-md-4 logo">
           <img class="logo" border="0" alt="EditoraCrescer" src="/img/logo.png">
      </div>    
      <div class="col-md-2 administrativo">
           <div class="MenuTitulo">
                <h1>Administrativo</h1>
           </div>    
      </div> 
      <div class="col-md-1 deslogar">
             <button class="btn btn-blue" type="button" ng-show="gerente" ng-click="gerencia()">Gerencia</button>
      </div> 
      <div class="col-md-1 deslogar">
             <button class="btn btn-blue" type="button" ng-click="irParaDevolucao()">Devolução</button>
      </div>
      <div class="col-md-1 deslogar">
             <button class="btn btn-blue" type="button" ng-click="logout()">Logout</button>
      </div>         
</div>   
<div class="row irParaNovaReserva">
    <div class="col-md-2">
        <button class="btn btn-red botao" type="button" ng-click="irParaReserva()">+Reserva</button>
    </div>
    <div class="col-md-4">
        <p class="horario">Horário: {{horario}}</p>
    </div>
    <div class="col-md-6">
        <p class="frasePropaganda">Produtora Crescer, produzindo as melhores festas desde essa semana</p>
    </div>  
</div>  
<div class="atrasos">
  <h3 class="TituloTabela">Atrasos</h3>
  <div class="scroll">   
  <table class="table table-bordered">
    <thead>
      <tr>
          <th>ID</th>
          <th>Nome Cliente</th>
          <th>Email</th> 
          <th>Data de Locação</th>
          <th>Data para devolução</th>
          <th>Pacote</th>
          <th>Festa</th>
          <th>Opcional</th>
          <th>Valor</th>    
      </tr>
    </thead>
    <tfoot>
    </tfoot>  
    <tbody>
      <tr ng-repeat="atraso in atrasos">
          <td>{{atraso.Id}}</td>
          <td>{{atraso.Cliente.Nome}}</td>
          <td>{{atraso.Cliente.Email}}</td> 
          <td>{{FormataDataUsuario(atraso.DataLocacao)}}</td> 
          <td>{{FormataDataUsuario(atraso.DataDevolucao_Prevista)}}</td>
          <td>{{atraso.Pacote.Nome}}</td>
          <td>{{atraso.Festa.Nome}}</td>
          <td>{{atraso.Opcional.Nome}}</td>
          <td>{{atraso.Valor}}</td>
      </tr>  
    </tbody>
  </table>
  </div>
</div>   
