<div class="row menu">
      <div class="col-md-4 logo">
           <img class="logo" border="0" alt="EditoraCrescer" src="/img/logo.png">
      </div>    
      <div class="col-md-2 administrativo">
           <div class="MenuTitulo">
                <h1>Reserva</h1>
           </div>    
      </div> 
      <div class="col-md-1 deslogar">
             <button class="btn btn-blue" type="button" ng-show="gerente" ng-click="irParaAdministrativo()">Administrativo</button>
      </div> 
      <div class="col-md-1 deslogar">
             <button class="btn btn-blue" type="button" ng-click="irParaGerencia()">Gerencia</button>
      </div>
      <div class="col-md-1 deslogar">
             <button class="btn btn-blue" type="button" ng-click="logout()">Logout</button>
      </div>    
</div> 
<div>
      <div class="clienteReserva" ng-if="primeiraFase">
            <h2>O cliente é cadastrado?</h2>
            <button class="btn btn-blue" type="button" ng-click="clienteCadastrado(true)">Sim</button>
            <button class="btn btn-blue" type="button" ng-click="clienteCadastrado(false)">Não</button>
      </div>
      <div class="cadastrarClienteReserva" ng-if="segundaFaseCadastro">
            <label>Nome: <input type="text" ng-model="clienteCadastro.nome"/></label>
            <label>Endereço: <input type="text" ng-model="clienteCadastro.endereco"/></label>
            <label>CPF: <input type="number" maxlength="11" ng-model="clienteCadastro.cpf"/></label>
            <label>Gênero: <input type="text" ng-model="clienteCadastro.genero" required="required"/></label>
            <label>Data Nascimento: <input type="date" class="inputMenu" ng-model="clienteCadastro.dataNascimento"></label>
            <label>Email: <input type="text" ng-model="clienteCadastro.email" required="required"/></label>
            <button class="btn btn-blue" type="button" ng-click="registrarCliente(clienteCadastro)">Cadastrar</button>
            <button class="btn btn-orange" type="button" ng-click="cancelarCadastroCliente()">Cancelar</button>
      </div>          
      <div class="pegarClienteExistente" ng-if="segundaFaseCadastrado">  
            <label>Digite o nome do cliente: <input type="text" ng-model="nomePesquisa"/></label>
            <button class="btn btn-blue" type="button" ng-click="pesquisaClientePorNome(nomePesquisa)">Pesquisar</button>
            <table class="table table-bordered">
                  <thead>
                        <tr>
                        <th>ID</th>
                        <th>Nome</th>
                        <th>CPF</th>
                        <th>Selecionar</th>
                        </tr>
                  </thead> 
                  <tbody>
                        <tr ng-repeat="clienteNome in clientesNome">
                        <td>{{clienteNome.Id}}</td>    
                        <td>{{clienteNome.Nome}}</td>
                        <td>{{clienteNome.CPF.Nome}}</td>
                        <button class="btn btn-blue" type="button" ng-click="selecionarCliente(clienteNome)">Selecionar</button>
                        </tr>  
                  </tbody>
             </table>
             <button class="btn btn-orange" type="button" ng-click="cancelarSelecaoCliente()">Cancelar</button>
      </div>
      <div class="cadastrarReserva" ng-if="terceiraFase">      
      <form>
        <h2>Cadastro nova Reserva</h2>

        <label for="nome">Duração da reservas (Dias)</label>
        <input type="number" ng-model="tempoReservaEmDias" required="required"/>
            <div ng-repeat="festa in festas">
            <input type="checkbox" name="festa" ng-checked="festaSelecionada(festa.Id)"> Festa: {{festa.Nome}} - Custo diária: {{festa.CustoDiaria}} - Preço multa: {{festa.CustoMulta}} <br>
            </div>
            <div ng-repeat="pacote in pacotes">
            <input type="checkbox" name="pacote" ng-checked="pacoteSelecionado(pacote.Id)"> Pacote: {{pacote.Nome}} - Custo diária: {{pacote.CustoDiaria}} - Preço multa: {{pacote.CustoMulta}} <br>
            </div>
            <input type="checkbox" name="pacote" ng-checked="pacoteSelecionado(null)"> Nenhum Pacote <br>
            <div ng-repeat="opcional in opcionais">
            <input type="checkbox" name="opcional" ng-checked="opcionalSelecionada(opcional.Id)"> Opcional: {{opcional.Nome}} - Custo diária: {{opcional.CustoDiaria}} - Preço multa: {{opcional.CustoMulta}} <br>
            </div>
            <input type="checkbox" name="opcional" ng-checked="opcionalSelecionada(null)"> Nenhuma Opcional <br>
        <button class="btn btn-blue formulario" type="button" ng-click="cadastrarReserva()">Cadastrar</button>
        <button class="btn btn-blue formulario" type="button" ng-click="cancelarTodoCadastro()">Cancelar</button>    
      </form>
      </div>
</div>      
