<html ng-app="PokemonAPPv2">
<head>
    <title>Aula01 Exercicio</title>  
    <script src="https://code.angularjs.org/1.6.4/angular.js"></script>
    <script src="js/pokemons.js"></script>
    <script src="js/listapokemons.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/main.css">
</head>    
<body>
    <div class="container-fluid fontCrimson">
        <div class="row col-md-12" ng-controller="pokemons">
            <div class="row col-md-12">
                <h1 class="text-center" ><strong>Pokémon Search</strong></h1>
            </div>

            <div class="col-md-4">
                <label for="nome">Nome do Pokémon
                <div class="input-group">
                    <span class="input-group-addon"><img class="icone_nome" src="img/icone_pikachu.png"></span>
                    <input id="nome" type="text" ng-model="filtro.name" class="form-control" placeholder="Ex.: Charmander" autofocus>
                </div>
                </label>
            </div>    
            <div class="col-md-4">
                <label for="tipo">Tipo do Pokémon
                <div class="input-group">
                    <span class="input-group-addon"><img class="icone_nome" src="img/icone_tipos.png"></span>
                    <input id="tipo" type="text" ng-model="filtro.tipos.type.name" class="form-control" placeholder="Ex.: Fire">
                </div>
                </label>
            </div>
            <div class="col-md-4">    
                <label for="id">ID do Pokémon
                <div class="input-group">
                    <span class="input-group-addon"><img class="icone_nome" src="img/icone_id.png"></span>
                    <input id="id" type="text" ng-model="filtro.id" class="form-control" placeholder="Ex.: 10">
                </div>
                </label>
            </div>
            <div class="col-md-4 borda" ng-repeat="pokemon in pokemons | filter:filtro"> 
                <h3>Nome: {{pokemon.name}}</h3>
                <img ng-src="{{pokemon.img}}">
                <h3>Tipos:</h3>
                <ul>
                  <li ng-repeat="tipo in pokemon.tipos">
                  <h3>{{tipo.type.name}}</h3>
                  </li>
                </ul>
                <h3>ID: {{pokemon.id}}</h3>
            </div>        
        </div>   
    </div>
</body>    
</html>