<div class="revisao">
    <div class="row menuRevisao">
        <h1>Menu revisão</h1>
        <div class="col-md-6">
            <img class="capaRevisao" ng-src={{livroSendoPublicado.Capa}}>
        </div>
        <div class="col-md-6">    
            <h1>{{livroSendoPublicado.Titulo}}</h1>
            <h2>{{livroSendoPublicado.Genero}}</h2>
            <p>{{livroSendoPublicado.Descricao}}</p>
            <p>{{livroSendoPublicado.Autor.Nome}}</p>
        </div>
    </div>
    <div class="botoesRevisao">
        <button class="btn btn-blue revisao" type="button" ng-click="publicar()">Publicar</button>   
        <button class="btn btn-blue revisao" type="button" ng-click="revisarNovamente()">Pedir nova revisão</button>  
    </div> 
</div>