*{
	box-sizing: border-box;
    font-family: 'Crimson Text', serif;
}
body {
  margin: 0;
  padding: 2% 2% 2% 2%;
  font-weight: 900;
}
.row.bordar{
    border:2px solid black;
}
.vermelho{
    background-color:red;
}
.obg{
    color:red;
}
.col-md-3.caixaSelecao{
    padding: 1% 1% 1% 1%;
    border: 2px solid red;
    width: 250px;
}
.col-md-3.floor{
    margin-top: 1.5%;
}
.col-md-12.quebra{
    margin-top: 5%;
}
.controller{
    background-color: white;
    padding: 5% 5% 5% 5%;
}
.preto{
    background-image: url('../img/background.jpg');
    background-repeat: no-repeat;
    background-size: 100vw;
    background-attachment: fixed;
}
.linha{
    content:url('../img/linha.png');
}
.erro{
    border-color: red;
    background:rgba(255, 0, 0,0.2);
}
.success{
    display: none;
    background: rgba(0, 255, 0,0.5);
    animation-name: aviso;
    animation-duration: 5s;
    animation-iteration-count: 1;
}
.waitingForSucess{
    display:none;
    opacity: 1;
}
@keyframes aviso{
    0%{display:block};
    100%{display:none};
}