            <div class="row">
                <div class=" col-md-12">
                <h1>Lista de instrutores</h1>
                <table class="table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nome</th>
                            <th>Aulas</th>
                            <th>Sobrenome</th>
                            <th>Idade</th>
                            <th>Email</th>
                            <th>Dando Aula</th>
                            <th>Foto</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="instrutor in instrutores | orderBy:'nome'">
                         <td>{{instrutor.id}}</td>
                         <td>{{instrutor.nome}}</td>
                         <td>{{(instrutor.aula)}}</td>
                         <td>{{instrutor.sobrenome}}</td>
                         <td>{{instrutor.idade}}</td>
                         <td>{{instrutor.email}}</td>
                         <td>{{dandoAulaToString(instrutor.dandoAula)}}</td>
                         <td><img src="{{instrutor.urlFoto}}" height="40px" width="40px"></td>
                        </tr>  
                    </tbody>
                </table>
                </div>
            </div>
            <img class="linha"/>    
            <form novalidate name="cadastroInstrutor" ng-submit="adicionarInstrutor(instrutor)">  
            <h3>Adicionar novo instrutor</h3>
            <h4>Itens com '*' são obrigatórios</h4>
            <div class="row bordar form-group">
                <div class="col-md-12">  
                    <label>
                        Nome:<alert class="obg">*</alert>
                        <input class="form-control" ng-class="nomeInstrutorErro" type="text" name="nomeInstrutor" ng-model="instrutor.nome" required>
                    </label>
                    <label>
                        Sobrenome:
                        <input class="form-control" ng-class="sobrenomeInstrutorErro" type="text" name="sobrenomeInstrutor" ng-model="instrutor.sobrenome">
                    </label>
                    <label>
                        Idade:<alert class="obg">*</alert>
                        <input class="form-control" ng-class="idadeInstrutorErro" type="number" name="idadeInstrutor" ng-model="instrutor.idade">
                    </label>
                    <label>
                        Email:<alert class="obg">*</alert>
                        <input class="form-control" ng-class="emailInstrutorErro" type="email" name="emailInstrutor" ng-model="instrutor.email">
                    </label>
                    <label>
                        Está dando aula?
                        <input  type="radio" name="dandoAula" ng-model="instrutor.dandoAula" ng-value="true">Sim
                        <input  type="radio" name="dandoAula" ng-model="instrutor.dandoAula" ng-value="false">Não
                    </label>
                    <label>
                        Url da foto de perfil:
                        <input class="form-control" ng-class="urlFotoInstrutorErro" type="text" name="urlFotoInstrutor" ng-model="instrutor.urlFoto">
                    </label>
                </div>
                <div ng-show="instrutor.dandoAula" class="col-md-12">
                    Clique nas aulas com o Ctrl pressionado para selecionar<br/>
                    <select ng-model="instrutor.aulas" title="Escolha as aulas do professor" multiple>
                            <option ng-repeat="aula in aulas | orderBy:'nome'" value="{{aula.id}}">{{aula.nome}}</option>
                    </select>
                </div>  
                <div class="col-md-12">
                    <input class="form-control" type="reset" value="Limpar" ng-click="limparCamposInstrutor()"/> 
                    <input class="form-control" type="submit" value="Adicionar"/>
                </div>        
            </div>        
            </form>
            <img class="linha"/>        