            <h4 ng-show="alteracaoInstrutorIniciada">Itens com '*' são obrigatórios</h4>
            <div class="row bordar form-group">
                <h2>Alterar instrutor</h2>
                <div class="col-md-12" ng-hide="alteracaoInstrutorIniciada"> <!--Seleção instrutor para alteração-->
                    Digite o ID do instrutor a ser alterado:
                    <input class="form-control" ng-class="idInstrutorASerAlteradoErro" type="number" name="idAlteracaoInstrutor" ng-model="alteracaoInstrutor.id" required>
                    <button class="form-control" type="button" ng-click="iniciarAlteracaoInstrutor(alteracaoInstrutor.id)">Alterar</button>  
                </div>   
                <div class="col-md-12" ng-show="alteracaoInstrutorIniciada"> <!--Alteração iniciada-->
                    Modifique os campos desejados, após isto clique em salvar alterações
                    <form novalidate name="modificacaoInstrutor" ng-submit="modificarInstrutor(alteracaoInstrutor)">
                        <div class="row form-group">
                            <div class="col-md-12">  
                                <label>
                                    Nome:<alert class="obg">*</alert>
                                    <input class="form-control" ng-class="nomeInstrutorErro" type="text" name="nomeInstrutor" ng-model="alteracaoInstrutor.nome" required>
                                </label>
                                <label>
                                    Sobrenome:
                                    <input class="form-control" ng-class="sobrenomeInstrutorErro" type="text" name="sobrenomeInstrutor" ng-model="alteracaoInstrutor.sobrenome">
                                </label>
                                <label>
                                    Idade:<alert class="obg">*</alert>
                                    <input class="form-control" ng-class="idadeInstrutorErro" type="number" name="idadeInstrutor" ng-model="alteracaoInstrutor.idade">
                                </label>
                                <label>
                                    Email:<alert class="obg">*</alert>
                                    <input class="form-control" ng-class="emailInstrutorErro" type="email" name="emailInstrutor" ng-model="alteracaoInstrutor.email">
                                </label>
                                <label>
                                    Está dando aula?
                                    <input  type="radio" name="dandoAula" ng-model="alteracaoInstrutor.dandoAula" ng-value="true">Sim
                                    <input  type="radio" name="dandoAula" ng-model="alteracaoInstrutor.dandoAula" ng-value="false">Não
                                </label>
                                <label>
                                    Url da foto de perfil:
                                    <input class="form-control" type="text" name="urlFotoInstrutor" ng-model="alteracaoInstrutor.urlFoto">
                                </label>
                            </div>
                            <div ng-show="alteracaoInstrutor.dandoAula" class="col-md-12">
                                Clique nas aulas com o Ctrl pressionado para selecionar<br/>
                                <select ng-model="alteracaoInstrutor.aulas" title="Escolha as aulas do professor" multiple>
                                        <option ng-repeat="aula in aulas | orderBy:'nome'" value="{{aula.id}}">{{aula.nome}}</option>
                                </select>
                            </div>  
                            <div class="col-md-12">
                                <button class="form-control" type="button" ng-click="salvarAlteracaoInstrutor(alteracaoInstrutor)">Salvar alterações</button>
                                <button class="form-control" type="button" ng-click="cancelarAlteracaoInstrutor(alteracaoInstrutor)">Cancelar alterações</button>
                            </div>        
                        </div>        
                    </form>  
                </div>
            </div>
            <img class="linha"/>
            <div class="row bordar form-group">
                <h2>Deletar instrutor</h2>
                <div class="col-md-12"> 
                    Digite o ID do instrutor a ser deletado:
                    <input class="form-control" ng-class="idNomeASerDeletadoErro" type="number" name="idInstrutorDeletado" ng-model="idInstrutorDeletado" required>
                    <button class="form-control" type="button" ng-click="deletarInstrutor(idInstrutorDeletado)">Deletar</button>  
                </div>
            </div> 
            <img class="linha"/>       
             