*{
	box-sizing: border-box;
  font-family: 'Crimson Text', serif;
}
body {
  margin: 0;
  padding: 2% 2% 2% 2%;
  font-weight: 900;
  padding-top: 180px;
  background: #DAA520;
}
.menu{
  position:fixed;
  top:0;
  left:0;
  right:0;
  height: 120px;
  padding: 20px 1px 20px 1px;
  background: #696969; 
}
.telaFundoEscura{
  background-color: black;
  opacity: 0.2;
}
.loginTitulo h1{
  font-size: 40px;
  font-weight: 900;
  margin-left: 30%;
}
.administrativo .MenuTitulo h1{
  font-size: 40px;
  font-weight: 900;
  margin-left: 30%;
}
.irParaNovaReserva{
  position: static;
  margin-bottom: 10px;
}
.irParaNovaReserva .botao{
  margin-left: 0%;
  width: 100%;
}
.irParaNovaReserva .frasePropaganda,.horario{
  font-weight: 900;
  font-size: 20px;
  font-family: Apple Chancery;
  margin-left: 0%;
}
.atrasos{
  background: white;
  border-radius: 2.5%/5%;
  padding: 1% 1% 1% 1%;
}
.relatorioMensal, .tabelaDeDevolucao{
  background: white;
  border-radius: 2.5%/5%;
  padding: 1% 1% 1% 1%;   
}
.displayDevolucao{
  background: white;
  border-radius: 2.5%/5%;
  padding: 1% 1% 1% 1%;
  border: 2px solid black;
  position: absolute;
	left: 30%;
	top: 25%;
  width: 40%;
  height: 70%;
  overflow: auto;
}
.scroll{
  height: 400px;
  overflow: auto;
}
.TituloTabela{
  font-size: 30px;
  font-weight: 900;
  margin-left: 36%;
  margin-bottom: 20px;
}
.TituloTabela.Atrasos{
  margin-left: 42%;
}
.TituloTabela.RelatorioMensal{
  margin-left: 42%;
}
.logo{
  width:180px; 
  height:80px;
  margin-left: 5px;
  margin-right: 10px;
}
.login{
  padding-right: 10%; 
}
.login .formulario{
   width: 150%;
   margin-left: 0%;
}
.login .formulario .inputMenu{
  margin-top: 25px;
}
.inputMenu{
  border-radius: 4%/10%;
  font-size: 18px;
  height: 40px;
  width: 40%;
  padding: 1% 1% 1% 1%;
  border-color: orange;
}
.inputMenu.reservaInput{
  width: 100%;
}
.login .formulario .inputMenu{
  width: 25%;
}
.inputMenu.inputPesquisa{
  width: 100%;
}
.table.table-bordered.tabelaClientes{
  background-color: white;
  font: 18px;
  font-weight: 700;
}
.fundoTabela{
  background-color: #D3D3D3;
}
.deslogar{
  margin-top:24px;
  margin-left: 10%;
  width: 10%;
}
.opcionais,.pacotes,.festas{
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 1% 1% 1% 1%;
  border: 2px solid black;
}
.valorFinalInfo{
 font-weight: 900;
 font-size: 18px;
}
/*Botão todoespacoonline mod*/
.btn:focus, .btn::-moz-focus-inner{
  outline:none;
  border:none;
}
.btn{
  font-family: arial;
  font-size:14px;
  text-transform: uppercase;
  font-weight:700;
  border:none;
  padding:10px;
  width: 150%;
  cursor: pointer;
  display:inline-block;
  text-decoration: none;
}
.btn-blue{
  background:#0066ff;
  color:black;
  /*box-shadow:0 5px 0 #005ce6;*/
}
.btn-blue:hover{
  position:relative;
  bottom:5px;
  background:#005ce6;
  box-shadow:0 5px 0 #0052cc;
}
.btn.btn-blue.paginacao{
  width: 10%;
}
.btn.btn-blue.revisao{
  width: 20%;
}
.btn.btn-blue.dataFinal{
  width: 10%;
  margin-left: 5%;
  margin-bottom: 1%;
}
.btn.btn-blue.devolucao{
  width: 90%;
}
.btn.btn-blue.formulario{
  width: 20%;
}
.btn-orange{
  background: #e68a00;
  color:black;
  /*box-shadow:0 5px 0 #cc7a00;*/
}
.btn-orange:hover{
  position:relative;
  bottom:5px;
  background:#cc7a00;
  box-shadow:0px 5px 0px #b36b00;
}
.btn.btn-blue.telaDevolucao{
  margin-top: 20px;
  width: 50%;
}
.btn.btn-orange.telaDevolucao{
  margin-top: 20px;
  width: 25%;
}
.btn.btn-orange.reserva,.btn.btn-blue.reserva{
  width: 30%;
}
.btn.btn-orange.botaoCancelar{
  margin-bottom: 20px;
  width: 10%;
}
.btn.btn-blue.botaoPesquisaCliente{
  margin-left: 0px;
  width: 10%;
  margin-bottom: 20px;
}
.btn.btn-blue.botaoSelecaoCliente{
  width: 50%;
}
.btn-red{
  background: #FF0000;
  color:black;
  /*box-shadow:0 5px 0 #CC0000;*/
}
.btn-red:hover{
  position:relative;
  bottom:5px;
  background:#CC0000;
  box-shadow:0 5px 0 #990033;
}
.btn.btn-orange.login, .btn.btn-blue.login{
  width: 30%;
  margin-top: 50px;
  margin-left: 35%;
}
.inputMenu.login{
  margin-left: 30%;
  margin-top: 20px;
  width: 40%;
}
.btn-orange:active, .btn-blue:active, .btn-red:active{
  position:relative;
  bottom:0px;
  box-shadow:none;
}