*{
	box-sizing: border-box;
    font-family: 'Keania One', cursive;
}
body {
  margin: 0;
  background-image: url('../img/background.jpg');
  color:white;
  font-weight: 900;
} 
.container-fluid{
    height: 100vw;
    padding: 1% 3% 2% 3%;
    animation-name: troca-de-cores;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
.chat{
    border: 2px solid black;
    border-radius: 5% 5% 0% 0%;
    background-color: white;
    color:black;
}
.chat .menu{
    background: linear-gradient(to bottom, rgba(30,87,153,1) 0%,rgba(41,137,216,1) 65%,rgba(125,185,232,1) 100%);
    border: 2px solid black;
    border-radius: 4% 4% 0% 0% / 21% 21% 0% 0%;
}
.chat .menu h1{
    font-size: 50px;
}
.chat .menu img{
    height: 75px;
    width: 75px;
}
.chat .campoDigitacao{
    position: fixed;
    bottom: 0;
    width: 96%;
    height: 10vh;
    border: 2px solid black;
    border-radius: 0% 0% 0% 0%;
    background: linear-gradient(to bottom, rgba(125,185,232,1) 0%,rgba(41,137,216,1) 65%, rgba(30,87,153,1) 100%);
    color:black;
}
.chat .campoDigitacao .digitacao{
    background-color: white;
    margin-top: 2vh;
    border: 2px solid black;
    width: 100%;
    height: 5vh;
    border-radius: 5%/50%;
    padding: 1% 2% 1% 2%;
}
.enviar{
    background: linear-gradient(to bottom, rgba(125,185,232,1) 0%,rgba(41,137,216,1) 65%, rgba(30,87,153,1) 100%);
    border: 0px;
    border-radius: 10% 10% 10% 10%;
    margin-top: 10%;
} 
.login{
    position: relative;
    left: 30vw;
    font-size: 20px;
    color: white;
}
.login .digitacao{
    color:black;
}
.botaoLogin{
    position: relative;
    left: 10vw;
}
.row .mensagens{
    margin-top:2%;
}
.repeticaoDados p{
    font-size: 20px;
}
.alternarButton{
     color:black;
     font-size: 25px;
     border-radius: 2% 2% 2% 2%;
     background: linear-gradient(to bottom, rgba(125,185,232,1) 0%,rgba(41,137,216,1) 65%, rgba(30,87,153,1) 100%);
}
@keyframes troca-de-cores{
		0%   {background-color: rgba(47,79,79,0.5);}
		1%   {background-color: transparent;}
        2%   {background-color: rgba(47,79,79,0.5);}
        3%   {background-color: transparent;}
		4%   {background-color: rgba(47,79,79,0.5);}
        5%   {background-color: transparent;}
        5.5% {background-color: rgba(47,79,79,0.5);}
        6%   {background-color: transparent;}
        6.5% {background-color: rgba(47,79,79,0.5);}
        7%   {background-color: transparent;}
        7.5% {background-color: rgba(47,79,79,0.5);}
        8%   {background-color: rgba(47,79,79,0.5);}
        8.5% {background-color: transparent;}
        9%   {background-color: rgba(47,79,79,0.5);}
        9.5% {background-color: transparent;}
        10%  {background-color: rgba(47,79,79,0.5);}
        10.5%{background-color: transparent;}
        11%  {background-color: rgba(47,79,79,0.5);}
		12%	 {background-color: transparent;}
		13%  {background-color: rgba(47,79,79,0.5);}
		15%  {background-color: transparent;}
		20%  {background-color: rgba(47,79,79,0.5);}
		80%  {background-color: rgba(47,79,79,0.5);}
        100% {background-color: transparent;}
}
