*{
	box-sizing: border-box;
}
body{
	font-family: 'Open Sans', sans-serif;
	background: #fafafa;
	margin: 0;
}
.float {
	float: left;
}
.nav{
	position: fixed;
	width: 100%;
	background: #c4170c;	
	text-align: center;
}
.nav h1 strong{
	color: white;
	font-size: 4vh;
}
.container{
	width: 100%;
}
.noticia{
	width: 42.5%;
	background: #fff;
	padding: 1% 2.5% 1% 2.5%;
	border: solid #DDDDDD 1px;
	border-radius: 4px;
}

.noticia:nth-child(odd){
	margin: 10% 2.5% 2% 5%;
	float: left;
}
.noticia:nth-child(odd)::after{
	content: "";
    clear: both;
    display: table;
}
.noticia:nth-child(even){
	margin: 10% 5% 2% 2.5%;
	float: right;
}
.noticia h2{
	font-size: 2.5vh;
	color: #bbb;
	font-weight: normal;
}
.noticia h1{
	font-size: 5.5vh;
	color: #c4170c;
	line-height: 1;
}
.noticia p{
	font-size: 2.5vh;
	color: #333;
	font-weight: 500;
	line-height: 2;
}
.noticia p:first-of-type:first-letter{
	font-size:380%;
	color: #c4170c;
	float: left;
	line-height: 1;
	letter-spacing: 1vh;
}
.noticia img{
	float: right;
	width: 150px;
	height: 100px;
	margin: 0 0 0 1%;
}
.noticia span{
	font-size: 2vh;
	color: #bbb;
	float: right;
	font-weight: normal;
}