*{
	box-sizing: border-box;
  font-family: 'Crimson Text', serif;
}
body {
  margin: 0;
  padding: 2% 2% 2% 2%;
  font-weight: 900;
  padding-top: 180px;
  background: #DAA520;
}
.menu{
  position:fixed;
  top:0;
  left:0;
  right:0;
  height: 120px;
  padding: 20px 1px 20px 1px;
  background: #696969; 
}
.logo{
  width:150px; 
  height:100px;
  margin-left: 5px;
}
.login{
  padding-right: 10%; 
}
.login .formulario{
   width: 100%;
   margin-left: 70%;
}
.login .formulario .inputMenu{
  margin-top: 25px;
}
.pesquisaLivro{
  margin-top: 25px;
  margin-left: 25px;
}
.inputMenu{
  border-radius: 10%/25%;
  font-size: 18px;
  height: 40px;
  width: 40%;
  padding: 1% 1% 1% 1%;
  border-color: orange;
}
.login .formulario .inputMenu{
  width: 35%;
}
.inputMenu.inputPesquisa{
  width: 100%;
}
.irParaRegistro{
  margin-top:24px;
  margin-left: 15%;
}
.secaoTitulo{
  font-size: 30px;
  font-weight: 900;
  color: red;
  text-transform: uppercase;
}
.livrosEmGeral{
  border: 1px black solid;
  height: 900px;
  width: 97%;
  overflow: auto;
  overflow-y: scroll;/*hidden*/
  overflow-x: hidden;
  white-space: normal;
  background: gray;
}
.lancamentos{
  border: 1px black solid;
  height: 430px;
  width: 97%;
  overflow: auto;
  overflow-y: hidden;/*hidden*/
  overflow-x: scroll;
  white-space: nowrap;
  background: gray;
}
.displayLivro{
  width: 200px;
  height: 412px;
  border: 2px black solid;
  display: inline-block;
  margin-bottom: 10px;
}
.displayLivro .capa{
  margin-top:0px;
  width:196px;
  height:250px;
}
.displayLivro .informacaoLivro{
  font-size: 18px;
  font-weight: 900; 
  line-height: 1.4;
  overflow: hidden;
  text-overflow: ellipsis;
}
/*Botão todoespacoonline*/
.btn:focus, .btn::-moz-focus-inner{
  outline:none;
  border:none;
}
.btn{
  font-family: arial;
  font-size:14px;
  text-transform: uppercase;
  font-weight:700;
  border:none;
  padding:10px;
  width: 150%;
  cursor: pointer;
  display:inline-block;
  text-decoration: none;
}
.btn-blue{
  background:#0066ff;
  color:black;
  box-shadow:0 5px 0 #005ce6;
}
.btn-blue:hover{
  background:#005ce6;
  box-shadow:0 5px 0 #0052cc;
}
.btn.btn-blue.paginacao{
  width: 10%;
}
.btn-orange{
  background: #e68a00;
  color:black;
  box-shadow:0 5px 0 #cc7a00;
}
.btn-orange:hover{
  background:#cc7a00;
  box-shadow:0 5px 0 #b36b00;
}
.formulario .btn-orange{
  width: 25%;
  height: 40px;
  margin-bottom: 5px;
}
.btn-red{
  background: #FF0000;
  color:black;
  box-shadow:0 5px 0 #CC0000 ;
}
.btn-red:hover{
  background:#CC0000;
  box-shadow:0 5px 0 #990033 ;
}
.displayLivro .btn-red{
  width:186px;
  height: 30px;
  margin-left: 2%;
}
.btn-orange:active, .btn-blue:active, .btn-red:active{
  position:relative;
  top:5px;
  box-shadow:none;
}