        <div class="row col-md-12 menu text-center">
            <div class="col-md-2"><img src="img/chat.png"></div>
            <div class="col-md-8"><h1>Y.O.L.O</h1></div>
            <div class="col-md-2"><button class="alternarButton" type="button" ng-click="irParaRegistro()">Ainda não possui cadastro? Registrar</button></div>
        </div>
        <div class="row">
            <div class="col-md-6 login">
                <label>Usuário: <input class="digitacao" type="text" name="login" ng-model="usuario" placeholder="Digite seu usuário"></label><br>
                <label>Senha: <input class="digitacao" type="password" name="login" ng-model="senha" placeholder="Digite sua senha"></label><br>
            </div>
            <div class="col-md-6 botaoLogin">
                <button type="button" ng-click="logar(usuario,senha)"><img src="img/sendButton.png"></button>
            </div> 
        </div> 
